<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tobiasfiebiger.mobile.teachapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="de.tobiasfiebiger.mobile.teachapp.TeachingApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="de.tobiasfiebiger.mobile.teachapp.TeachActivity">
            
        </activity>
        <activity
            android:name="de.tobiasfiebiger.mobile.teachapp.SubjectListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.tobiasfiebiger.mobile.teachapp.MaterialListActivity"
            android:label="@string/title_material_detail"
            android:parentActivityName=".SubjectListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MaterialListActivity" />
        </activity>
        <activity android:name="com.evernote.client.android.EvernoteOAuthActivity" 
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>